p:hover  {
    background-color: yellow;
}
#slide {  
    display: flex;
    justify-content: space-around;
}
nav {  
    display: flex;
    justify-content: space-around;
}
a:hover {
    background-color: blueviolet;
    color: aqua;
}
a {
    color: white;
    background-color: black;
}